@charset "UTF-8";
*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Slimamif", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #000;
  color: #000;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 30px 85px 30px 135px;
  min-height: 100vh;
  background-image: url(../img/bg.png);
  display: flex;
  justify-content: space-between;
}

.content-primary {
  padding-top: 120px;
}
.btn__reset {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Slimamif", sans-serif;
  font-weight: bold;
  color: inherit;
  outline: none;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
}

.dark-theme body {
  color: #fff;
  background-color: #fff;
}
.dark-theme .container {
  background-image: url(../img/bg-dark-theme.png);
}

.btn__difficulty {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn__difficulty .text {
  text-transform: uppercase;
  width: 80px;
  text-align: left;
}

@media (hover: hover) {
  .btn__difficulty {
    transition: color 0.3s ease-in-out;
  }
  .btn__difficulty-easy:hover {
    color: #029422;
  }
  .btn__difficulty-medium:hover {
    color: #f0b52e;
  }
  .btn__difficulty-hard:hover {
    color: #d40909;
  }
}
.difficulty__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.difficulty__item {
  display: flex;
}
.difficulty__previev {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.difficulty__previev .icon {
  fill: transparent;
  stroke: #000;
}
.difficulty__previev-easy .icon-easy {
  fill: #029422;
}
.difficulty__previev-medium .icon-easy {
  fill: #029422;
}
.difficulty__previev-medium .icon-medium {
  fill: #f0b52e;
}
.difficulty__previev-hard .icon-easy {
  fill: #029422;
}
.difficulty__previev-hard .icon-medium {
  fill: #f0b52e;
}
.difficulty__previev-hard .icon-hard {
  fill: #d40909;
}

.dark-theme .difficulty__previev .icon {
  stroke: #fff;
}
.dark-theme .difficulty__previev-easy .icon-easy {
  fill: #029422;
}
.dark-theme .difficulty__previev-medium .icon-easy {
  fill: #029422;
}
.dark-theme .difficulty__previev-medium .icon-medium {
  fill: #fbd98c;
}
.dark-theme .difficulty__previev-hard .icon-easy {
  fill: #029422;
}
.dark-theme .difficulty__previev-hard .icon-medium {
  fill: #fbd98c;
}
.dark-theme .difficulty__previev-hard .icon-hard {
  fill: #ff8686;
}

.game__container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.game__table {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(5, 40px);
  border: 2px solid black;
}
.game__table-ceil {
  width: 40px;
  height: 40px;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.game .empty-ceil {
  flex-grow: 1;
  min-width: 40px;
  min-height: 40px;
}
.game .row-hints {
  display: flex;
  padding-bottom: 5px;
}
.game .row-hints__item {
  padding: 4px;
}
.game .row-hints__items {
  width: 40px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
.game .col-hints {
  padding-right: 5px;
}
.game .col-hints__item {
  padding: 4px;
}
.game .col-hints__items {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.game .checked {
  background-color: black;
}
.game .marker::after {
  content: "✖";
  font-size: 24px;
  color: red;
}/*# sourceMappingURL=style.css.map */