*,
::after,
::before {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Slimamif", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $color-primary;
  color: $color-primary;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 30px 85px 30px 135px;
  min-height: 100vh;
  background-image: url(../img/bg.png);
  display: flex;
  justify-content: space-between;
}

.content{
  &-primary{
    //width: 270px;
    padding-top: 120px;
  }

  &-main{
   // min-width: 600px;
  }

  &-secondary{
    //width: 270px;
  }
}

.btn {
  &__reset {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Slimamif", sans-serif;
    font-weight: bold;
    color: inherit;
    outline: none;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
  }
}

.dark-theme {
  body {
    color: $color-primary-dark;
    background-color: $color-primary-dark;
  }
  .container {
    background-image: url(../img/bg-dark-theme.png);
  }
}
