$color-primary: #000
    
$color-easy: #029422
$color-medium: #f0b52e
$color-hard: #d40909

// Theme dark
$color-primary-dark: #fff
$color-easy-dark: #029422
$color-medium-dark: #fbd98c
$color-hard-dark: #ff8686